{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "eqeqeq": "error",
    "no-empty": "off",
    "no-trailing-spaces": "warn",
    "prefer-rest-params": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/quotes": ["warn", "single", "avoid-escape"],
    "@typescript-eslint/semi": ["warn", "never"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["dist"],
  "env": {
    "browser": true,
    "node": true
  }
}